@font-face {
    font-family: 'ralewayblack';
    src: url('raleway-black-webfont.woff2') format('woff2'),
         url('raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('raleway-light-webfont.woff2') format('woff2'),
         url('raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
         url('raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #4c6a80 0%, #d1e5ef 100%);
    margin: 0;
}

.right-column {
    background-color: #f3f3f3;
    box-shadow: 0px 0px 15px #6e7a83;
}

h1 {
    font-family: 'ralewayblack', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #1b415c;
}

h2 {
    font-family: 'ralewayblack', Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: 'ralewaybold', Verdana, Geneva, Tahoma, sans-serif;
}

.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-bottom: 2vh;
}

.logo {
    height: 30px;
}

.motto-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.motto-container h1 {
    text-align: center;
}

.plans {
    width: 80vw;
}

.scroll {
    display: block;
    height: 40px;
}

.left-column {
    padding: 10px 10px 30px 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

form {
    font-family: 'ralewaylight', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    margin-bottom: 20px;
  }
  
.form-row > div {
    flex: 1; 
    display: flex;
    flex-direction: column;
  }

label {
    margin-bottom: 5px;
}

.right-column {
    padding: 10vw;
    border-radius: 20px 20px 0 0;
}

input {
    height: 23px;
    font-family: 'ralewaylight', Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.fieldset-inner-container {
    display: flex;
    flex-wrap: wrap;
}

.fieldset-inner-container > div {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

input[type="radio"] {
    margin: 0 10px 3px 0;
}

.fieldset-inner-container label{
    margin-right: 20px;
}

.form-terms {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    height: 20px;
}

.checkbox-wrapper input[type="checkbox"] {
    margin: 0;
    width: 16px;
    height: 16px;
}

.form-terms label {
    line-height: 20px;
    margin: 0;
}

p {
    font-family: 'ralewaylight', Verdana, Geneva, Tahoma, sans-serif;
}

.pulse {
    animation: pulse 1.0s infinite;
}

button {
    background-color: #1b415c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'ralewaybold', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #206ba1;
    transition-duration: 0.5s;
}

button:active {
    background-color: #041a2a;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media only screen and (min-width: 700px) {
    body {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .left-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 100vh;
        padding: 30px;
        box-sizing: border-box;
    }

    .right-column {
        flex: 1;
        max-width: 55vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        height: 100vh;
        border-radius: 20px 0px 0px 20px;
        padding: 4vw 10vw;
        box-sizing: border-box;
        overflow-y: scroll;
    }

    .form-row {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    label {
        flex: 2;
    }

    .scroll {
        display: none !important;
    }

    .motto-container {
        width: 38vw;
    }

    .motto-container h1 {
        text-align: left;
    }

    .plans {
        width: min(48vw, 660px);
    }

}